[Unit]
Description=Hyprland pre-session Target
Documentation=man:Hyprland(1)
BindsTo=graphical-session-pre.target
After=graphical-session-pre.target
StopWhenUnneeded=yes
