[Unit]
Description=Hyprland session Target
BindsTo=graphical-session.target
After=graphical-session.target
Requires=basic.target
After=basic.target
StopWhenUnneeded=yes
