[Unit]
Description=Hyprland session Target
Documentation=man:Hyprland(1)
BindsTo=graphical-session.target
Wants=hyprland-session-pre.target
After=hyprland-session-pre.target graphical-session.target
StopWhenUnneeded=yes
